.success-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(76, 175, 80, 0.8); /* Verde transparente */
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}
